<h1>Patient's page</h1>

<%= @patient.name%> <br>

<br><br>
<%@appointments.each do |app|%>
	<%=app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> 
	<%=link_to app.doctor.name, doctor_path(app.doctor) %>
	<br>
<%end%>